@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}
@model Core.DTO.IdeaCategory.IdeaCategoryDTO
<div class="category-management">
    @Html.Partial("_breadcrumb", new Dictionary<string, string>
        { { "Home", "Homepage" }, { "IdeaCategoryManagement", "Idea Category Management" }, { "C", "Edit" } }, new ViewDataDictionary(ViewData) { { "mHref", Url.Action("Index", "IdeaCategoryManagement", new { area = "Admin" }) }, { "mShowButton", "false" } })

    @using (Html.BeginForm("Edit", "IdeaCategoryManagement", FormMethod.Post, new { @id = "form-create", @class = "form-horizontal needs-validation", @enctype = "multipart/form-data" }))
    {
        @Html.Partial("_Form", Model)
    }
</div>
